<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{% if article is defined %}{{ article.title }}::{% endif %}{{ site_title }}</title>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.9.0/styles/github.min.css">
    <script src="//cdn.jsdelivr.net/highlight.js/9.9.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body id="userview">
    {% if session is defined and session.login is defined %}
      {% include 'base/component/admin_toolbar.tmpl' %}
    {% endif %}
    <header>
      {% include 'base/component/header.tmpl' %}
    </header>
    <main>
      <section class="contents">
        {% block contents %}{% endblock%}
      </section>
    </main>
    {% include 'base/component/footer.tmpl' %}
  </body>
</html>
