{% extends 'base/base.tmpl' %}

{% block contents %}
  {% for article in articles|reverse %}
    <article class="abstract">
      <header>
        <h2><a href="/article/{{ article.slug }}">{{ article.title|e }}</a></h2>
        {% if article.published %}
          <span class="date">{{ article.published.strftime('%Y-%m-%d') }}</span>
        {% endif %}
      </header>
      <p>{{ article.abstract()|replace('\n', '<br />') }}</p>
      {% if article.has_more() %}
        <p class="readmore"><a href="/article/{{ article.slug }}">READ MORE</a></p>
      {% endif %}
      <footer>
        <div class="tags">
          Tag:
          {% for tag in article.tags %}
            <a href="/tag/{{ tag }}" class="tag">{{ tag|e }}</a>
          {% endfor %}
        </div>
      </footer>
    </article>
  {% endfor %}
{% endblock %}
