<nav id="dashboard_sidemenu">
  <ul>
    <li><a href="/admin">Dashboard</a></li>
    <li><a href="/admin/article">Article</a></li>
    <li><a href="/admin/comments">Comments</a></li>
    <li><a href="/admin/image">Image</a></li>
    <li><a href="/admin/tag">Tag</a></li>
    <li><a href="/admin/user">User</a></li>
    <li><a href="/admin/config">Config</a></li>
  </ul>
</nav>
