<header id="dashboard_header">
  <div class="left">
    <a href="/" class="site_title">{{ site_title }}</a>
  </div>
  <ul class="right">
    <li>Hello, {{ session.login }}</li>
    <li><a href="/logout">logout</a></li>
  </ul>
</header>
