<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ site_title }}</title>
    <link href="/static/css/style.css" rel="stylesheet"/>
  </head>
  <body id="userview">
    {% if session.login is defined %}
      {% include 'base/component/admin_toolbar.tmpl' %}
    {% endif %}
    <header>
      {% include 'base/component/header.tmpl' %}
    </header>
    <main>
      <section class="contents">
        {% block contents %}{% endblock%}
      </section>
    </main>
    {% include 'base/component/footer.tmpl' %}
  </body>
</html>
