[Unit]
Description=Eureka Blog System

[Install]
WantedBy=multi-user.target

[Service]
User=root
ExecStart=/usr/libexec/eureka/eureka.sh
ExecStop=/bin/kill -QUIT `cat /var/run/eureka/uwsgi.pid`
