{% extends 'base/admin_base.tmpl' %}

{% block contents %}
  <header>
    <h2 class="sub_title">Config</h2>
  </header>
  <section id="config">
    <form action="" method="POST">
      <div class="row">
        <label for="site_title">Site Name</label>
        <input name="site_title" type="text" value="{{ site_title }}"/>
      </div>
      <div class="row">
        <label for="site_description">Description</label>
        <input name="site_description" type="text" value="{{ site_description }}"/>
      </div>
      <input name="submit" type="submit" value="Save Config"/>
    </form>
  </section>
{% endblock%}
